*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #93a8ac;
    text-align: center;
    color: white;
}

h1{
    margin-top: 20px;
}

.container{
    margin-top: 50px;
    height: 70vmin;
    display: flex;
    justify-content:center ;
    align-items: center;    
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    color: brown;
    font-size: 8vmin;
    font-weight: 700;
}

#rst-btn{
    border: 5px solid black;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    font-size: 15px;
    font-weight: 700;
}

